<main>

  <nav>
    <div class="nav-wrapper teal">
      <a href="#" class="brand-logo">Mongo Scraper</a>
      <ul class="hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/saved">Saved Articles</a></li>
      </ul>
    </div>
  </nav>

  <div id="main-section">
    <h1 class="blue-grey-text text-darken-4">Mongo Scraper</h1>
    <h4 class="blue-grey-text text-darken-4">NPR News Edition</h4>
    <br>
    <a id="scrape-btn" class="red waves-effect waves-light btn">Scrape New Articles</a>
    <a id="clear-btn" class="red waves-effect waves-light btn">Clear Articles</a>
  </div>

  <div id="no-articles" class="row">
    <div class="col s12">
      <div class="card teal">
        <div class="card-content white-text">
          <span class="card-title">Uh Oh. Looks like we don't have any new articles.</span>
        </div>
      </div>
    </div>
  </div>

  <div id="articles">

    {{!-- <div class="row article">
      <div class="col s12">
        <div class="card teal">
          <div class="card-content white-text">
            <span class="card-title">I am a very simple card. I am good at containing small bits of information.</span>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a class="red waves-effect waves-light btn">Save Article</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row article">
      <div class="col s12">
        <div class="card teal">
          <div class="card-content white-text">
            <span class="card-title">I am a very simple card. I am good at containing small bits of information.</span>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a class="red waves-effect waves-light btn">Save Article</a>
          </div>
        </div>
      </div>
    </div> --}}

  </div>

  <!-- Modal forms -->
  <div id="modal-saved" class="modal">
    <div class="modal-content">
      <h2 class="green-text">Article is saved!
      </h2>
    </div>
  </div>

  <div id="modal-already-saved" class="modal">
    <div class="modal-content">
      <h2 class="red-text">Article is already saved!
      </h2>
    </div>
  </div>

</main>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>

  $.getJSON("/articles", function (data) {

    if (data.length > 0) {
      $("#no-articles").css("display", "none");

      for (var i = 0; i < data.length; i++) {
        var div1 = $("<div>").addClass("row article");
        var div2 = $("<div>").addClass("col s12");
        var div3 = $("<div>").addClass("card teal");
        var div31 = $("<div>").addClass("card-content white-text");
        var articleLink = $("<a>").attr("href", data[i].link);
        var span = $("<span>").addClass("card-title white-text").text(data[i].title);
        articleLink.append(span);
        var p = $("<p>").text(data[i].summary);
        div31.append(articleLink, p);
        var div32 = $("<div>").addClass("card-action");
        var saveArticleBtn = $("<a>").addClass("save-article-btn red waves-effect waves-light btn").attr("data-articleid", data[i]._id).text("Save Article");
        div32.append(saveArticleBtn);
        div3.append(div31, div32);
        div2.append(div3);
        div1.append(div2);
        $("#articles").append(div1);
      }
    } else {
      $("#no-articles").css("display", "block");
    }
  });


  $("#scrape-btn").click(function () {
    $.get("/scrape", function (data) {
      location.reload();
    })
  })


  $("#clear-btn").click(function () {
    $.ajax({
      url: "/articles",
      type: "DELETE",
      success: function (data) {
        location.reload();
      }
    });
  })


  $(document).on("click", ".save-article-btn", function () {
    var articleID = $(this).attr("data-articleid");

    $.post("/save/" + articleID, function (data) {
      if (data === "Article already saved") {

        show_modal("modal-already-saved");
        setTimeout(function () { hide_modal("modal-already-saved"); }, 3000);
      } else if (data == "Article saved") {

        show_modal("modal-saved");
        setTimeout(function () { hide_modal("modal-saved"); }, 3000);
      }
    })
  })


  function show_modal(modalID) {
    $('#' + modalID).modal();
    $('#' + modalID).modal('open');
  }


  function hide_modal(modalID) {
    $('#' + modalID).modal('close');
  }

</script>