<main>

  <nav>
    <div class="nav-wrapper teal">
      <a href="#" class="brand-logo">Mongo Scraper</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/saved">Saved Articles</a></li>
      </ul>
    </div>
  </nav>

  <div id="main-section">
    <h1 class="blue-grey-text text-darken-4">Saved Articles</h1>
    <h4 class="blue-grey-text text-darken-4">Your Saved Articles</h4>
    <br>
    <a class="red waves-effect waves-light btn">Clear Articles</a>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card teal">
        <div class="card-content white-text">
          <span class="card-title">I am a very simple card. I am good at containing small bits of information.</span>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a class="red waves-effect waves-light btn">Delete From Saved</a>
          <a class="red waves-effect waves-light btn">Article Notes</a>
        </div>
      </div>
    </div>
  </div>

</main>